@media (max-width: 1200px)
  .conteiner
    max-width: 960px

@media (max-width: 992px)
  .conteiner 
    max-width: 760px

  .logo
    &__img
      max-width: 133px

  .navigation
    padding: 22px 0
    &__items
      a
        color: inherit
        text-decoration: none
        text-transform: uppercase
        font-size: 12px
        line-height: 15px      
  
  .navbar
    &__top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-right: auto
      margin-left: auto
  
  .search
    &__area
      width: 340px

@media (max-width: 768px)
  .conteiner
    max-width: 576px
    width: 92%

  .navigation
    &__items
      a
        color: inherit
        text-decoration: none
        text-transform: uppercase
        font-size: 12px
        line-height: 15px

  .logo
    &__img
      max-width: 133px

  .navbar
    &__menu , &__search , &__user
      display: none
    &__button-top
      display: flex
      text-align: center
      flex-direction: column
      justify-content: space-between
      height: 11px
      padding: 0
      background-color: $light-color
      border: none
      cursor: pointer
      span
        width: 16px
        height: 1px
        background-color: $font-color

@media ( max-width:576px )
  .logo
    &__img
      max-width: 99px
  
        
        
        
          
          



