@media   ( max-width:1920px  )
  .container
    max-width: 1440px

@media   ( max-width: 1480px  )
  .container
    max-width: 1160px

@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel__slider
    width: 600px

  .hotel
    &-swiper
      img
        object-fit: cover

  .card
    width: 230px
    height: 230px

  .hotels
    display: none

  .footer
    &__wrapper
      grid-gap: 3%
      grid-template: none
      margin-bottom: 30px
    &__form
      max-width: 381px
    &__input
      width: 100%
    &__social
      grid-row: 2
    &__end
      margin-bottom: 22px

  .form
    &__button
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%

@media ( max-width: 992px )
  .container,
  .newsletter-wrapper
    max-width: 730px

  .logo
    &__img
      max-width: 133px

  .navigation
    padding: 22px 0
    &__items
      a
        color: inherit
        text-decoration: none
        text-transform: uppercase
        font-size: 12px
        line-height: 15px

  .navbar
    &__top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-right: auto
      margin-left: auto

  .search
    &__area
      width: 340px

  .hotel
    &-grid
      flex-direction: column
    &-right
      flex-direction: row

  .hotel
    &__slider
      width: 100%
      margin-bottom: 20px

  .reviwes
    &-slider
      &__item
        max-width: 580px

  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      width: 49%
      margin-bottom: 20px

  .footer
    padding: 73px 0 46px 0
    &__wrapper
      margin-bottom: 69px
    &__logo
      grid-row: 1
      grid-column: 1/3
      width: 100px
      height: 120px
    &__social
      grid-row: 1
      grid-column: 2/5
      align-self: center
    &__categories
      grid-row: 2
      grid-column: 1/2
    &__additional
      grid-row: 2
      grid-column: 2/3
    &__legal
      grid-row: 2
      grid-column: 3/5
    &__contact
      grid-row: 3
      grid-column: 1/4
    &__form
      max-width: 100%
      margin-bottom: 38px
      grid-row: 4
      grid-column: 1/4
    &__input
      width: 48%
    &__end
      grid-row: 5
      grid-column: 1/5

@media ( max-width: 768px )

  .container
    max-width: 536px

  .navigation
    &__items
      a
        color: inherit
        text-decoration: none
        text-transform: uppercase
        font-size: 12px
        line-height: 15px

  .logo
    &__img
      max-width: 133px

  .navbar
    &__menu , &__search , &__user
      display: none
    &__button-top
      display: flex
      text-align: center
      flex-direction: column
      justify-content: space-between
      height: 11px
      padding: 0
      background-color: $light-color
      border: none
      cursor: pointer
      span
        width: 16px
        height: 1px
        background-color: $font-color
  .hotel
    &-info
      &__rating
        display: none
    &__name
      flex-basis: 100%
      margin: 10px 0 3px 0

  .offer
    order: -1
  .stars
    flex-basis: auto
    margin-bottom: 0
    margin-left: 400px

  iframe
    max-width: 263px

  .booking
    max-width: 263px
    margin-right: 10px

  .hotel__slider
    height: 350px

  .swiper
    &-container
      height: 100%

  .newsletter
    padding: 76px 0 83px 0
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 536px

  .reviwes
    &-slider
      &__item
        &:before, &::after
          display: none
    &-title
      font-size: 33px
    &-swiper
      &-button
        top: 30px
        left: 50%
        transform: translate(-50%,0)
        &__next
          margin-left: 65px
        &__prev
          margin-left: -65px
      &__item
        padding: 0 30px 30px

  .activities
    padding: 40px 0 60px 0

  .card
    width: 49%
    height: 255px

  .footer
    &__wrapper
      margin-bottom: 82px

@media ( max-width:576px )
  .container
    max-width: 400px
    width: 92%

  .logo
    &__img
      max-width: 133px

  .hotel
    padding-bottom: 40px
    &-info
      &__rating
        display: none
      &__name
        flex-basis: 100%
        margin: 10px 0 3px 0
  .offer
    order: -1
  .stars
    flex-basis: auto
    margin-bottom: 0
    margin-left: 154px

  .hotel__slider
    max-width: 400px
    max-height: 270px

  .hotel
    &-right
      flex-direction: column

  .booking
    margin-right: 0
    margin-bottom: 20px
    width: 400px
    max-width: 400px

  .map
    max-width: 100%

  iframe
    width: 100%
    max-width: 100%

  .newsletter
    &-wrapper
      max-width: 400px
    &__subscribe
      max-width: 280px

  .reviwes
    &-title
      font-size: 24px

  .card
    width: 100%

  .footer
    padding: 73px 0 46px 0
    &__wrapper
      grid-gap: 2%
      margin-bottom: 136px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 100px
      height: 120px
    &__social
      grid-row: 2
      grid-column: 1
      align-self: center
    &__categories
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      grid-row: 6
      grid-column: 1
    &__form
      max-width: 100%
      margin-bottom: 0
      grid-row: 7
      grid-column: 1
    &__input
      width: 48%
    &__end
      grid-row: 8
      grid-column: 1
      img
        display: none
  .end
    &__link
      display: flex
      justify-content: space-between
      width: 100%

@media ( max-width:470px )
  .container
    max-width: 300px
    width: 92%
  .logo
    &__img
      max-width: 99px
  .offer
    order: -1
  .stars
    flex-basis: auto
    margin-bottom: 0
    margin-left: 154px

  .booking
    margin-right: 0
    margin-bottom: 20px
    width: 300px
    max-width: 300px

  .map
    max-width: 300px

  iframe
    width: 300px
    max-width: 300px

  .hotel__slider
    width: 300px
    height: 200px

  .newsletter
    &-wrapper
      max-width: 300px

  .reviwes
    &-slider
      &__item
        padding: 0 30px 30px
    &-title
      font-size: 18px

  .footer
    &__wrapper
      margin-bottom: 163px
    &__input
      width: 100%

  .form
    &__button
      flex-direction: column-reverse
      align-items: flex-start
      span
        margin-bottom: 10px

@media ( max-width: 320px )
  .container
    max-width: 292px

  .booking
    margin-right: 0
    margin-bottom: 20px
    width: 280px
    max-width: 280px

  .map
    max-width: 280px

  iframe
    width: 280px
    max-width: 280px

  .hotel__slider
    width: 280px
    height: 200px

  .newsletter
    &-wrapper
      max-width: 280px
