.hotel
  padding-top: 23px
  padding-bottom: 70px
  color: $font-color
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__rating
      display: flex
      flex-direction: column
      align-items: center
      padding: 9px 7px
      background-color: $button-color
      color: $light-color
      border-radius: 4px
    &__name
      font-size: 24px
      line-height: 30px
      margin: 0 14px 5px 0
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    
.stars
  flex-basis: 100%
  margin-bottom: 5px
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $button-color
  color: $light-color
  border-radius: 4px
  
.rating
  &__text
    font-size: 8px
    line-height: 10px
  &__final
    font-size: 14px
    line-height: 18px
    font-weight: bold
  &__max
    font-size: 11px
    line-height: 18px
    font-weight: bold
.grade
  &-item
    &:not(:last-child)
      &:after
        content: '/'
        margin-left: 3px
.description
  font-size: 12px
  line-height: 15px

    


